p.p1 {
margin: 0.0px 0.0px 0.0px 0.0px; 
font: 12.0px Helvetica;
}

h1{
font-size:48px; 
font:Helvetica; 
color: chocolate;
}

.navbar{
font:14px Helvetica;
color: red; 
}

ul{
  list-style-type:none;
  margin:0;
  padding:0;
  width:100%;
  overflow:hidden;
  position: fixed;
  top: 0;
}

li{
float: left;
}

li a{
  display:block;
  padding: 14px 16px;
  color: red;
  text-align:center;
  text-decoration:none;
}

li a: hover{
  background-color: gold;
}
