p.p1 {
margin: 0.0px 0.0px 0.0px 0.0px; 
font: 12.0px Helvetica;
}

h1{
font-size:48px; 
font:Helvetica; 
color: chocolate;
}

.navbar{
font:24px Helvetica;
color: chocolate; 
width: 100%;
}

ul{
  list-style-type:none;
  margin:0;
  padding:0;
  width:100%;
  overflow:hidden;
  position: fixed;
  top: 0;
}

li{
display:inline;
padding:14px 16px;
width:100%;
text-align:center;
text-decoration:none;
}

.resume{
  background-image: url:('https://github.com/Krobinson1675/KaliRobinson/blob/master/beach-1867285_1920.jpg?raw=true');
  background-size:cover;
  background-position:center top;
}
.about_me{
}

.contact{
}
